<div class="jumbotron" style="width:100%;">
  <h1 class="display-7">チャンネル名: <%= @channelInfo.channel_name %></h1>
  <hr>
  <%# <%= link_to("投稿動画一覧", video_list_show_path(channel_id: params[:channel_id]), class: "btn btn-primary") %>
  <a class="btn btn-primary" href=<%= "https://www.youtube.com/channel/" + params[:channel_id] %> role="button" target="_blank" rel="noopener noreferrer">
    チャンネルページ <i class="bi bi-arrow-up-right-square"></i>
  </a>
</div>

<table class="table table-striped">
  <caption>List of channel info</caption>
  <thead class="thead-dark">
    <tr><th>登録者数</th><th>動画本数</th><th>総再生回数</th><th>更新日時</th></tr>
  </thead>
  <% @channelInfos.each do |channelInfo| %>
	<tr class="bg-light">
        <td><%= channelInfo.channel_subscribers %></td>
        <td><%= channelInfo.channel_video_count %></td>
        <td><%= channelInfo.channel_video_view_count %></td>
        <td><%= channelInfo.created_at %></td>
    </tr>  
  <% end %>
</table>